.vault-password
.github
.git
.infrastructure
Dockerfile
docker-*.yml
.gitlab-ci.yml
bootstrap/cache/*
database/*.sqlite

storage/app/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor/
!vendor/filament/

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*

?ulpfile.js
?untfile.js
phpunit.xml
readme.md
phpspec.yml

run
run.ps1
